@page "/assign_tasks"
@inject HttpClient Http
@inject Management_Tasks.ApiServices.UserService UserService
@inject ILogger<ApiServices.UserService> logger

<PageTitle>Assign Tasks</PageTitle>

<h1>Liste des tâches et utilisateurs</h1>

<!-- Tableau des utilisateurs -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in userModels)
        {
            <tr>
                <td>@user.Nom</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<DataModel.UserModel> userModels = new List<DataModel.UserModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userModels = await UserService.GetUsersAsync();
        }
        catch (Exception ex)
        {
            logger.LogError($"Erreur lors du chargement des utilisateurs : {ex.Message}");
        }
    }

}
