@page "/"

<PageTitle>HomePage</PageTitle>

<h1>Hello, world!</h1>

On va décrire l'architecture du projet ici.
<li>Photo </li>
<li>Services </li>
<SurveyPrompt Title="How is Blazor working for you?" />
