@page "/users"
@inject HttpClient Http
@* @using Management_Tasks.Pages *@


<PageTitle>Membre</PageTitle>


<div class="d-flex justify-content-center align-items-center vh-170">
    <div class="card p-4 shadow-lg rounded-lg" style="width: 800px;">
        <h3 class="text-center"><b>FORMULAIRE DE CRÉATION DES UTILISATEURS</b></h3>
        <EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit">
            <div class="form-group">
                <label for="lastname">Nom</label>
                <InputText id="lastname" class="form-control" @bind-Value="userModel.Nom" />
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <InputText id="password" type="password" placeholder="Password" class="form-control"
                    @bind-Value="userModel.Password" />
            </div>


            <div class="form-group">
                <label for="role">Rôle</label>
                <InputSelect id="role" class="form-control" @bind-Value="userModel.Role">
                    <option value="">Sélectionnez un rôle</option>
                    <option value="Admin">Admin</option>
                    <option value="User">Utilisateur</option>
                    <option value="Guest">Invité</option>
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="checkpass">Confirmer mot de passe</label>
                <InputText id="check_pass" type="password" placeholder="Confirmed password" class="form-control"
                    @bind-Value="passWord" />
            </div>

            <div class="form-group">
                <label for="email">Adresse Mail</label>
                <InputText id="email" type="email" class="form-control" @bind-Value="userModel.Email" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
            <button type="button" class="btn btn-secondary" @onclick="HandleReset">Annuler</button>
            <div id="message" class="text-danger">@message</div>
        </EditForm>
    </div>
</div>

@code {
    private DataModel.UserModel userModel = new DataModel.UserModel();
    private string message = string.Empty;
    private enum MessageType { Succes, Error }
    private string passWord = string.Empty;

    private string TextColor(MessageType messageType)
    {
        return messageType switch
        {
            MessageType.Succes => "#00FF00", // Vert pour succès
            MessageType.Error => "#FF0000", // Rouge pour erreur
            _ => string.Empty
        };
    }
    public bool CheckPass()
    {
        if (passWord != userModel.Password)
        {
            message = $"{MessageType.Error}: Veuillez saisir le meme mot de passe";
            return false;
        }

        return true;

    }
    private void HandleValidSubmit()
    {
        if (CheckPass())
        {
            Console.WriteLine($"Nom: {userModel.Nom}, Email: {userModel.Email}, Rôle: {userModel.Role}");
            message = $"{MessageType.Succes}";
        }
    }
    private void HandleReset()
    {
        userModel = new DataModel.UserModel();
        message = string.Empty;
    }
}
